body {
  font-family: "Arial";
  background: #fffff1;
}

#wrapper {
  margin: 30px auto;
  margin-bottom: 50px;
}

h1,
h2 {
  font-size: 50px;
  line-height: 1;
  text-align: center;
}

h2 {
  margin-top: 15px !important;
  margin-bottom: -50px !important;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 20px;
}

button {
  display: block;
  margin: auto;
  background: orange;
  padding: 15px 30px;
  border: none;
  color: #423e3e;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover,
button:focus {
  background: rgb(20, 219, 110);
  color: #faf8f8;
}

.container {
  width: 600px;
  margin: auto;
  cursor: url(../images/pukul1.png), auto;
}

.container:active {
  cursor: url(../images/pukul2.png), auto;
}

.dompet {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  float: left;
}

.dompet::after {
  content: "";
  display: block;
  width: 150px;
  height: 115px;
  background: url(../images/dompet.png) bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  bottom: -10px;
}

.tikus {
  width: 160px;
  height: 150px;
  background: url(../images/tikus.png) bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100px;
  transition: top 0.2s;
  /* cursor: pointer; */
}

.dompet.muncul .tikus {
  top: -15px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .container {
    width: 450px;
    margin-top: 20px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 35px;
  }

  h5 {
    font-size: 15px;
    margin-top: -10px;
  }

  .dompet {
    width: 140px;
    height: 200px;
  }

  .tikus {
    width: 130px;
    height: 150px;
  }

  .dompet.muncul .tikus {
    top: -15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /*  */
}
